# `df.groupby`

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data_from_trip_practice_only.csv')
df.head()

,countrynameen,country_grouped,masterhotelid,masterhotelname,hotel_category,wkn_period,this_wk_in_cpn,this_wk_order,this_wk_uv,financial_revenue_past_4w,...,availability_tag,availability,bookable_ratio,lose_rate_final,lose_rate_tag,competitive_tag,hotelrating,htl_ct,htl_order_rank,top_pct_10
0,Malaysia,Malaysia,699489,"槟城火烈鸟海滩酒店(Flamingo Hotel by The Beach, Penang)",NaN,11/15/2021,0,188,2218,41296.01,...,A,0.9185,1.0,0.3165,B,B,4.2,2135,1,1
1,Malaysia,Malaysia,698563,吉隆坡棉兰东姑普雷斯科特酒店(Prescott Hotel Kuala Lumpur Med...,NaN,11/15/2021,0,147,707,16001.78,...,A,0.9162,1.0,0.2614,B,B,4.3,2135,2,1
2,Malaysia,Malaysia,698608,吉隆坡皇家朱兰酒店(Royale Chulan Kuala Lumpur),NaN,11/15/2021,0,141,1770,15879.86,...,A,0.9554,1.0,0.3057,B,B,4.4,2135,3,1
3,Malaysia,Malaysia,695037,KSL度假酒店(KSL Hotel & Resort),NaN,11/15/2021,0,128,1084,23672.91,...,A,0.9572,1.0,0.0635,A,A,4.4,2135,4,1
4,Malaysia,Malaysia,1465325,马六甲瑞园酒店(Swiss-Garden Hotel Melaka),NaN,11/15/2021,0,119,1773,28185.28,...,A,0.9094,1.0,0.1921,A,A,4.4,2135,5,1

---

## Basic use 1

In [3]:
group1 = df.groupby('countrynameen')

In [7]:
# group對象的內部
list(group1)

[('Malaysia',      countrynameen country_grouped  masterhotelid  \
  0         Malaysia        Malaysia         699489
  1         Malaysia        Malaysia         698563
  2         Malaysia        Malaysia         698608
  3         Malaysia        Malaysia         695037
  4         Malaysia        Malaysia        1465325
  ...            ...             ...            ...
  7802      Malaysia        Malaysia        9026290
  7803      Malaysia        Malaysia       26683612
  7804      Malaysia        Malaysia        4591941
  7805      Malaysia        Malaysia         688371
  7806      Malaysia        Malaysia         697180

                                          masterhotelname  hotel_category  \
  0        槟城火烈鸟海滩酒店(Flamingo Hotel by The Beach, Penang)             NaN
  1     吉隆坡棉兰东姑普雷斯科特酒店(Prescott Hotel Kuala Lumpur Med...             NaN
  2                 吉隆坡皇家朱兰酒店(Royale Chulan Kuala Lumpur)             NaN
  3                           KSL度假酒店(KSL Hotel & Resort)             NaN
  4                    马六甲瑞园酒店(Swiss-Garden Hotel Melaka)             NaN
  ...                                                 ...             ...
  7802                                  好酒店(D'Nice Hotel)             NaN
  7803  怡保打扪迷失乐园杰弗瑞家庭旅馆 R 酒店(Jeffrey Homestay Ipoh R @...             NaN
  7804                               瓦瓦桑酒店(Hotel Wawasan)             NaN
  7805      哥打京那巴鲁婆罗洲皇冠酒店(The Crown Borneo Kota Kinabalu)             NaN
  7806  金马仑高原稀树草原公寓(Parkland Apartment Cameron Highlands)             NaN

        wkn_period  this_wk_in_cpn  this_wk_order  this_wk_uv  \
  0     11/15/2021               0            188        2218
  1     11/15/2021               0            147         707
  2     11/15/2021               0            141        1770
  3     11/15/2021               0            128        1084
  4     11/15/2021               0            119        1773
  ...          ...             ...            ...         ...
  7802   11/8/2021               0              0          24
  7803   11/8/2021               0              0           2
  7804   11/8/2021               0              0           7
  7805   11/8/2021               0              0          12
  7806   11/8/2021               0              0         165

        financial_revenue_past_4w  ...  availability_tag  availability  \
  0                    41296.0100  ...                 A        0.9185
  1                    16001.7800  ...                 A        0.9162
  2                    15879.8600  ...                 A        0.9554
  3                    23672.9100  ...                 A        0.9572
  4                    28185.2800  ...                 A        0.9094
  ...                         ...  ...               ...           ...
  7802                     6.1822  ...                 C        0.6659
  7803                    43.0081  ...                 B        0.8198
  7804                    42.3718  ...                 B        0.8482
  7805                     5.3446  ...                 A        0.9446
  7806                   364.6320  ...                 B        0.7632

        bookable_ratio  lose_rate_final  lose_rate_tag  competitive_tag  \
  0             1.0000           0.3165              B                B
  1             1.0000           0.2614              B                B
  2             1.0000           0.3057              B                B
  3             1.0000           0.0635              A                A
  4             1.0000           0.1921              A                A
  ...              ...              ...            ...              ...
  7802          0.4667           0.9383              C                C
  7803          0.2083           0.7576              C                C
  7804          1.0000           0.9521              C                C
  7805          1.0000           0.9795              C                C
  7806          1.0000           0.2727              B                B

        hotelrating  htl_ct htl_order_rank top_pct_10
  0             4.2    2135              1          1
  1             4.3    2135              2          1
  2             4.4    2135              3          1
  3             4.4    2135              4          1
  4             4.4    2135              5          1
  ...           ...     ...            ...        ...
  7802          3.7    2088           1893          0
  7803          0.0    2088           1894          0
  7804          5.0    2088           1895          0
  7805          3.0    2088           1896          0
  7806          4.7    2088           1897          0

  [7807 rows x 30 columns]),
 ('South Korea',       countrynameen country_grouped  masterhotelid  \
  7807    South Korea     South Korea       12093236
  7808    South Korea     South Korea       25673737
  7809    South Korea     South Korea        4548893
  7810    South Korea     South Korea       15677672
  7811    South Korea     South Korea        7090954
  ...             ...             ...            ...
  18965   South Korea     South Korea       60162172
  18966   South Korea     South Korea        7040067
  18967   South Korea     South Korea       22089759
  18968   South Korea     South Korea       71634282
  18969   South Korea     South Korea       67104011

                                           masterhotelname  hotel_category  \
  7807   济州神话世界度假酒店 – 蓝鼎(Landing Jeju Shinhwa World Hot...             NaN
  7808   济州神话世界度假酒店-神话(Shinhwa Jeju Shinhwa World Hotel...             NaN
  7809                海蓝丽景酒店(Hotel Regent Marine the Blue)             NaN
  7810                       镜浦天空酒店(Skybay Hotel Gyeongpo)             NaN
  7811                     济州君临海域酒店(Gloucester Hotel Jeju)             NaN
  ...                                                  ...             ...
  18965                     Daegu sangindong Hotel LAURENT             NaN
  18966                        木浦经济酒店(Ekonomy Hotel Mokpo)             NaN
  18967                   水安堡温泉地酒店(Suanbo Hot Spring Land)             NaN
  18968                                Andong Nurida Hotel             NaN
  18969             海湾酒店及游泳池别墅(The Bay Hotel & Pool Villa)             NaN

         wkn_period  this_wk_in_cpn  this_wk_order  this_wk_uv  \
  7807    11/1/2021               0            753        6375
  7808    11/1/2021               0            243        2564
  7809    11/1/2021               0            228        1941
  7810    11/1/2021               0            209        2205
  7811    11/1/2021               0            190        1975
  ...           ...             ...            ...         ...
  18965  10/25/2021               0              0           2
  18966  10/25/2021               0              0           5
  18967  10/25/2021               0              0          21
  18968  10/25/2021               0              0           4
  18969  10/25/2021               0              0          16

         financial_revenue_past_4w  ...  availability_tag  availability  \
  7807                 555083.8000  ...                 A        0.9373
  7808                 198502.9000  ...                 A        0.9553
  7809                  60563.2900  ...                 B        0.8610
  7810                  63769.0100  ...                 A        0.9170
  7811                  47867.2000  ...                 B        0.8735
  ...                          ...  ...               ...           ...
  18965                    22.7928  ...                 C        0.6667
  18966                   215.8242  ...                 B        0.8140
  18967                    31.1528  ...                 B        0.8700
  18968                    27.2746  ...                 A        0.9333
  18969                    18.0364  ...                 A        1.0000

         bookable_ratio  lose_rate_final  lose_rate_tag  competitive_tag  \
  7807           1.0000           0.0408              A                A
  7808           1.0000           0.0016              A                A
  7809           1.0000           0.3614              B                B
  7810           0.5333           0.6929              C                C
  7811           1.0000           0.3291              B                B
  ...               ...              ...            ...              ...
  18965          0.0417           0.0000              A                C
  18966          1.0000           0.3636              B                B
  18967          0.2167           0.0000              A                B
  18968          0.2250           0.0000              A                A
  18969          0.7333           1.0000              C                C

         hotelrating  htl_ct htl_order_rank top_pct_10
  7807           4.4    2821              1          1
  7808           4.4    2821              2          1
  7809           4.4    2821              3          1
  7810           4.2    2821              4          1
  7811           4.4    2821              5          1
  ...            ...     ...            ...        ...
  18965          0.0    2914           2910          0
  18966          1.7    2914           2911          0
  18967          3.6    2914           2912          0
  18968          0.0    2914           2913          0
  18969          3.6    2914           2914          0

  [11163 rows x 30 columns]),
 ('United States',        countrynameen country_grouped  masterhotelid  \
  18970  United States   United States       62565085
  18971  United States   United States       48900526
  18972  United States   United States        2497093
  18973  United States   United States       69308893
  18974  United States   United States         735967
  ...              ...             ...            ...
  59897  United States   United States        2254984
  59898  United States   United States        2889582
  59899  United States   United States        2375192
  59900  United States   United States       11566944
  59901  United States   United States        2878574

                                           masterhotelname  hotel_category  \
  18970  拉斯维加斯度假村世界希尔顿酒店(Las Vegas Hilton at Resorts Wo...             NaN
  18971  希尔顿逸林纽约时代广场南部酒店(Double Tree by Hilton New York...             NaN
  18972                         芝加哥瑞士酒店(Swissôtel Chicago)             NaN
  18973                  Conrad Las Vegas at Resorts World             NaN
  18974          拉斯维加斯康士登酒店(The Cosmopolitan of Las Vegas)             NaN
  ...                                                  ...             ...
  59897  圣奥古斯丁世界高尔夫村万丽度假酒店(World Golf Village Renaissan...             NaN
  59898  费城机场拉昆塔旅馆及套房(La Quinta by Wyndham Philadelphia...             NaN
  59899  西哥伦布假日酒店(Holiday Inn Columbus-Hilliard, an Ihg...             NaN
  59900  汉福德勒穆尔希尔顿惠庭酒店(Home2 Suites by Hilton Hanford L...             NaN
  59901  威斯汀基尔兰别墅斯科特斯德酒店(The Westin Kierland Villas, Sc...             NaN

        wkn_period  this_wk_in_cpn  this_wk_order  this_wk_uv  \
  18970  11/8/2021               0            107         720
  18971  11/8/2021               0             67         442
  18972  11/8/2021               0             64         499
  18973  11/8/2021               0             54         584
  18974  11/8/2021               0             47         599
  ...          ...             ...            ...         ...
  59897  11/1/2021               0              0          10
  59898  11/1/2021               0              0           7
  59899  11/1/2021               0              0           5
  59900  11/1/2021               0              0           1
  59901  11/1/2021               0              0           6

         financial_revenue_past_4w  ...  availability_tag  availability  \
  18970                 14895.5200  ...                 C        0.7360
  18971                  4425.5400  ...                 B        0.8379
  18972                 29325.3900  ...                 B        0.8824
  18973                 20474.1300  ...                 B        0.8074
  18974                 67615.3300  ...                 A        0.9095
  ...                          ...  ...               ...           ...
  59897                   321.4599  ...                 B        0.8263
  59898                     1.1549  ...                 A        0.9271
  59899                    80.6088  ...                 B        0.8725
  59900                   517.5637  ...                 B        0.7872
  59901                   871.5457  ...                 C        0.6665

         bookable_ratio  lose_rate_final  lose_rate_tag  competitive_tag  \
  18970          1.0000           0.7071              C                C
  18971          1.0000           0.2004              A                B
  18972          1.0000           0.8351              C                C
  18973          1.0000           0.5044              C                C
  18974          1.0000           0.9229              C                C
  ...               ...              ...            ...              ...
  59897          1.0000           0.1152              A                B
  59898          1.0000           0.7814              C                C
  59899          1.0000           0.7143              C                C
  59900          0.9667           0.3182              B                B
  59901          0.9833           0.2066              A                C

         hotelrating  htl_ct htl_order_rank top_pct_10
  18970          4.5   10315              1          1
  18971          4.1   10315              2          1
  18972          4.3   10315              3          1
  18973          4.4   10315              4          1
  18974          4.5   10315              5          1
  ...            ...     ...            ...        ...
  59897          5.0   10197          10000          0
  59898          3.6   10197          10001          0
  59899          4.2   10197          10002          0
  59900          4.5   10197          10003          0
  59901          4.5   10197          10004          0

  [40932 rows x 30 columns])]

In [4]:
group1.first()  # 取每個group的第一行

,country_grouped,masterhotelid,masterhotelname,hotel_category,wkn_period,this_wk_in_cpn,this_wk_order,this_wk_uv,financial_revenue_past_4w,orders_past_4w,...,availability_tag,availability,bookable_ratio,lose_rate_final,lose_rate_tag,competitive_tag,hotelrating,htl_ct,htl_order_rank,top_pct_10
countrynameen,,,,,,,,,,,,,,,,,,,,,
Malaysia,Malaysia,699489,"槟城火烈鸟海滩酒店(Flamingo Hotel by The Beach, Penang)",NaN,11/15/2021,0,188,2218,41296.01,943,...,A,0.9185,1.0,0.3165,B,B,4.2,2135,1,1
South Korea,South Korea,12093236,济州神话世界度假酒店 – 蓝鼎(Landing Jeju Shinhwa World Hot...,NaN,11/1/2021,0,753,6375,555083.80,3765,...,A,0.9373,1.0,0.0408,A,A,4.4,2821,1,1
United States,United States,62565085,拉斯维加斯度假村世界希尔顿酒店(Las Vegas Hilton at Resorts Wo...,NaN,11/8/2021,0,107,720,14895.52,74,...,C,0.7360,1.0,0.7071,C,C,4.5,10315,1,1

In [5]:
group1.get_group('South Korea')  # 取group內的指定group值

,country_grouped,masterhotelid,masterhotelname,hotel_category,wkn_period,this_wk_in_cpn,this_wk_order,this_wk_uv,financial_revenue_past_4w,orders_past_4w,...,availability_tag,availability,bookable_ratio,lose_rate_final,lose_rate_tag,competitive_tag,hotelrating,htl_ct,htl_order_rank,top_pct_10
7807,South Korea,12093236,济州神话世界度假酒店 – 蓝鼎(Landing Jeju Shinhwa World Hot...,NaN,11/1/2021,0,753,6375,555083.8000,3765,...,A,0.9373,1.0000,0.0408,A,A,4.4,2821,1,1
7808,South Korea,25673737,济州神话世界度假酒店-神话(Shinhwa Jeju Shinhwa World Hotel...,NaN,11/1/2021,0,243,2564,198502.9000,923,...,A,0.9553,1.0000,0.0016,A,A,4.4,2821,2,1
7809,South Korea,4548893,海蓝丽景酒店(Hotel Regent Marine the Blue),NaN,11/1/2021,0,228,1941,60563.2900,912,...,B,0.8610,1.0000,0.3614,B,B,4.4,2821,3,1
7810,South Korea,15677672,镜浦天空酒店(Skybay Hotel Gyeongpo),NaN,11/1/2021,0,209,2205,63769.0100,848,...,A,0.9170,0.5333,0.6929,C,C,4.2,2821,4,1
7811,South Korea,7090954,济州君临海域酒店(Gloucester Hotel Jeju),NaN,11/1/2021,0,190,1975,47867.2000,981,...,B,0.8735,1.0000,0.3291,B,B,4.4,2821,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18965,South Korea,60162172,Daegu sangindong Hotel LAURENT,NaN,10/25/2021,0,0,2,22.7928,2,...,C,0.6667,0.0417,0.0000,A,C,0.0,2914,2910,0
18966,South Korea,7040067,木浦经济酒店(Ekonomy Hotel Mokpo),NaN,10/25/2021,0,0,5,215.8242,4,...,B,0.8140,1.0000,0.3636,B,B,1.7,2914,2911,0
18967,South Korea,22089759,水安堡温泉地酒店(Suanbo Hot Spring Land),NaN,10/25/2021,0,0,21,31.1528,1,...,B,0.8700,0.2167,0.0000,A,B,3.6,2914,2912,0
18968,South Korea,71634282,Andong Nurida Hotel,NaN,10/25/2021,0,0,4,27.2746,1,...,A,0.9333,0.2250,0.0000,A,A,0.0,2914,2913,0
18969,South Korea,67104011,海湾酒店及游泳池别墅(The Bay Hotel & Pool Villa),NaN,10/25/2021,0,0,16,18.0364,1,...,A,1.0000,0.7333,1.0000,C,C,3.6,2914,2914,0

In [6]:
group1_multi = df.groupby(['countrynameen','star'])
group1_multi.first()

                   country_grouped  masterhotelid  \
countrynameen star
Malaysia      0.0         Malaysia        5611741
              1.0         Malaysia        8656466
              2.0         Malaysia         699768
              3.0         Malaysia         698563
              4.0         Malaysia         699489
              5.0         Malaysia         698608
South Korea   0.0      South Korea       79448498
              1.0      South Korea       11288480
              2.0      South Korea       23779849
              3.0      South Korea        8523720
              4.0      South Korea        4548893
              5.0      South Korea       12093236
United States 0.0    United States       72683102
              1.0    United States        2918065
              2.0    United States        2888763
              3.0    United States       48900526
              4.0    United States       62565085
              5.0    United States       69308893

                                                      masterhotelname  \
countrynameen star
Malaysia      0.0                             扎姆萨哈姆酒店(Hotel Zamsaham)
              1.0                           工匠生态酒店(Artisan Eco Hotel)
              2.0       吉隆坡甲洞双迎宾馆(Sun Inns Hotel Kepong Kuala Lumpur)
              3.0   吉隆坡棉兰东姑普雷斯科特酒店(Prescott Hotel Kuala Lumpur Med...
              4.0      槟城火烈鸟海滩酒店(Flamingo Hotel by The Beach, Penang)
              5.0               吉隆坡皇家朱兰酒店(Royale Chulan Kuala Lumpur)
South Korea   0.0   奥诺玛大田傲途格精选酒店(Hotel Onoma Daejeon, Autograph Co...
              1.0                            顺天Divine酒店(Divine Hotel)
              2.0                        江陵城市酒店(Gangneung City Hotel)
              3.0         金色郁金香济州酒店(Golden Tulip Jeju Seongsan Hotel)
              4.0                海蓝丽景酒店(Hotel Regent Marine the Blue)
              5.0   济州神话世界度假酒店 – 蓝鼎(Landing Jeju Shinhwa World Hot...
United States 0.0   Bellyard, West Midtown Atlanta, a Tribute Port...
              1.0                      锡康克殖民风旅馆(Colonial Inn Seekonk)
              2.0   欧文斯柏克鲁姆品质套房酒店(Quality Inn & Suites Irvine Spec...
              3.0   希尔顿逸林纽约时代广场南部酒店(Double Tree by Hilton New York...
              4.0   拉斯维加斯度假村世界希尔顿酒店(Las Vegas Hilton at Resorts Wo...
              5.0                   Conrad Las Vegas at Resorts World

                    hotel_category  wkn_period  this_wk_in_cpn  this_wk_order  \
countrynameen star
Malaysia      0.0              NaN  11/15/2021               0              4
              1.0              NaN  11/15/2021               0              7
              2.0              NaN  11/15/2021               0             18
              3.0              NaN  11/15/2021               0            147
              4.0              NaN  11/15/2021               0            188
              5.0              NaN  11/15/2021               0            141
South Korea   0.0              NaN   11/1/2021               0             25
              1.0              NaN   11/1/2021               0              4
              2.0              NaN   11/1/2021               0             38
              3.0              NaN   11/1/2021               0            132
              4.0              NaN   11/1/2021               0            228
              5.0              NaN   11/1/2021               0            753
United States 0.0              NaN   11/8/2021               0              4
              1.0              NaN   11/8/2021               0              3
              2.0              NaN   11/8/2021               0             12
              3.0              NaN   11/8/2021               0             67
              4.0              NaN   11/8/2021               0            107
              5.0              NaN   11/8/2021               0             54

                    this_wk_uv  financial_revenue_past_4w  orders_past_4w  \
countrynameen star
Malaysia      0.0           25                   124.0305              13
              1.0           60                   383.8246              37
              2.0           37                   279.3131              38
              3.0          707                 16001.7800             681
              4.0         2218                 41296.0100             943
              5.0         1770                 15879.8600             414
South Korea   0.0          396                  9295.0020              54
              1.0           27                    69.3510               1
              2.0          504                  3550.0980             133
              3.0          873                 34876.1700             623
              4.0         1941                 60563.2900             912
              5.0         6375                555083.8000            3765
United States 0.0           16                   683.5861               9
              1.0            6                   104.7063               9
              2.0           29                   460.6600              16
              3.0          442                  4425.5400              45
              4.0          720                 14895.5200              74
              5.0          584                 20474.1300             101

                    ...  availability_tag  availability  bookable_ratio  \
countrynameen star  ...
Malaysia      0.0   ...                 B        0.8366          1.0000
              1.0   ...                 A        0.9393          1.0000
              2.0   ...                 A        0.9727          1.0000
              3.0   ...                 A        0.9162          1.0000
              4.0   ...                 A        0.9185          1.0000
              5.0   ...                 A        0.9554          1.0000
South Korea   0.0   ...                 A        0.9113          1.0000
              1.0   ...                 B        0.8107          0.9833
              2.0   ...                 B        0.8226          1.0000
              3.0   ...                 B        0.8876          1.0000
              4.0   ...                 B        0.8610          1.0000
              5.0   ...                 A        0.9373          1.0000
United States 0.0   ...                 B        0.8250          1.0000
              1.0   ...                 C        0.7222          1.0000
              2.0   ...                 C        0.7315          1.0000
              3.0   ...                 B        0.8379          1.0000
              4.0   ...                 C        0.7360          1.0000
              5.0   ...                 B        0.8074          1.0000

                    lose_rate_final  lose_rate_tag  competitive_tag  \
countrynameen star
Malaysia      0.0            0.3347              B                B
              1.0            0.5088              C                C
              2.0            0.1104              A                A
              3.0            0.2614              B                B
              4.0            0.3165              B                B
              5.0            0.3057              B                B
South Korea   0.0            0.7465              C                C
              1.0            0.9720              C                C
              2.0            0.2222              A                B
              3.0            0.1223              A                B
              4.0            0.3614              B                B
              5.0            0.0408              A                A
United States 0.0            0.4795              B                B
              1.0            0.0150              A                C
              2.0            0.1250              A                C
              3.0            0.2004              A                B
              4.0            0.7071              C                C
              5.0            0.5044              C                C

                   hotelrating htl_ct htl_order_rank  top_pct_10
countrynameen star
Malaysia      0.0          4.1   2135            390           0
              1.0          4.5   2135            229           0
              2.0          4.2   2135             96           1
              3.0          4.3   2135              2           1
              4.0          4.2   2135              1           1
              5.0          4.4   2135              3           1
South Korea   0.0          0.0   2821            167           1
              1.0          5.0   2821            588           0
              2.0          4.5   2821            105           1
              3.0          4.1   2821             11           1
              4.0          4.4   2821              3           1
              5.0          4.4   2821              1           1
United States 0.0          5.0  10315            382           1
              1.0          4.4  10315            547           1
              2.0          4.2  10315             48           1
              3.0          4.1  10315              2           1
              4.0          4.5  10315              1           1
              5.0          4.4  10315              4           1

[18 rows x 28 columns]

---

## 對不同欄位做不同操作

In [8]:
df.groupby('countrynameen').agg({'this_wk_uv':'median','this_wk_order':'mean'})

               this_wk_uv  this_wk_order
countrynameen
Malaysia               34       4.372871
South Korea            13       4.882379
United States           4       0.651715

## 套用自定義函數

In [9]:
# 取每個國家下本週訂單最多的酒店

def get_highest_order_this_wk(x):
    df = x.sort_values(by = 'this_wk_order',ascending=True)
    return df.iloc[-1,:]

highest_order = df.groupby('countrynameen', as_index=False).apply(get_highest_order_this_wk)
highest_order

,countrynameen,country_grouped,masterhotelid,masterhotelname,hotel_category,wkn_period,this_wk_in_cpn,this_wk_order,this_wk_uv,financial_revenue_past_4w,...,availability_tag,availability,bookable_ratio,lose_rate_final,lose_rate_tag,competitive_tag,hotelrating,htl_ct,htl_order_rank,top_pct_10
0,Malaysia,Malaysia,699489,"槟城火烈鸟海滩酒店(Flamingo Hotel by The Beach, Penang)",NaN,10/25/2021,0,295,3287,19697.42,...,A,0.9790,0.9917,0.4533,B,B,4.1,1712,1,1
1,South Korea,South Korea,12093236,济州神话世界度假酒店 – 蓝鼎(Landing Jeju Shinhwa World Hot...,NaN,10/25/2021,0,1133,7762,593372.50,...,A,0.9253,1.0000,0.0513,A,A,4.5,2914,1,1
2,United States,United States,62565085,拉斯维加斯度假村世界希尔顿酒店(Las Vegas Hilton at Resorts Wo...,NaN,11/8/2021,0,107,720,14895.52,...,C,0.7360,1.0000,0.7071,C,C,4.5,10315,1,1